[2015-09-11 17:40] schen119 opened #2 "VGG model cannot run?"
Hi!
I have successfully run the code and generate the 'result.jpg' by the default googlenet model.
I try to run the VGG 19 by setting the model_name = "vgg" but It just run one 0 iterations generate the result which is identical to content image.
I found the gradient in the data layer is zero. Could you kindly help me to solve the problem?

[2015-09-11 18:11] fzliu commented on #2
VGG should be working now, thanks to @dpaiton. Let me know if it's not and I'll take a look at it again.

[2015-09-13 05:18] schen119 commented on #2
After downloading the new version form @dpaiton, it works!
Thank you!

[2015-09-14 07:21] #2 closed, assigned to nobody

[2015-09-14 20:47] lshamis opened #4 "'Blob' object has no attribute 'shape'"
On line 148 [[ x.reshape(net.blobs["data"].shape[1:]) ]]
net.blobs["data"] is a Blob object, which doesn't seem to have a shape field.

I think it's supposed to be [[ x.reshape(net.blobs["data"].data.shape[1:]) ]]

[2015-09-14 22:35] fzliu commented on #4
`net.blobs["data"].shape` actually exists as a `caffe.IntVec` object in the latest version of Caffe, which is automatically cast as tuple in the `np.ndarray.reshape` function. What version of Caffe are you using? I'm happy to make this change if it provides some backwards compatibility.

[2015-09-15 18:51] lshamis commented on #4
Not sure how to check Caffe version.  Just rebuilt the newest version and net.blobs["data"].shape works.
Thanks!

(Did they really add that in the last 1-2 weeks?)

[2015-09-15 18:51] #4 closed, assigned to nobody

[2015-09-28 04:20] ghost opened #16 "Just a question"
I have a quick question. I was thinking of writing a wrapper for https://github.com/jwetzl/CudaLBFGS to avoid using scipy. Do you think that would help speed up the optimizations? I have large batches of images to process, so unfortunately waiting is not an option. If you have any advice or ideas, I'd appreciate it.

[2015-09-28 04:56] fzliu commented on #16
Thanks for your interest in the code! I've actually recently been looking into optimizing the pipeline as much as possible, and L-BFGS was one of the first things I looked at. I did some benchmarks using a max length of 500 for input images - it turns out that that around 90% of the time is spent in the forward-backward steps for VGG. You'll probably be able to squeeze out a bit of extra performan

[2015-09-28 05:11] ghost commented on #16
Yeah totally, I have a titan X. Update the develop branch and I'll run some tests tomorrow. Also I just updated my master branch and I noticed the "-g 0" flag is not working anymore. The older version of the code runs fine on the gpu. I just thought to give you a heads up. That's strange. I'll try to debug that tomorrow too.

[2015-09-28 05:30] fzliu commented on #16
Just pushed to develop - results might require some tuning but they should be decent for now. And yup, there are unfortunately some issues with the master branch right now due to a merge from a couple of days ago, but I'm holding off on any further changes to master until the runtime gets into a more reasonable range.

[2015-09-28 18:06] ghost commented on #16
I ran some tests.

## At 1920 x 1080 pixels, using around 9Gb GPU memory:

style.py:<module>:09:43:53.369 -- Starting style transfer.
style.py:<module>:09:43:54.560 -- Running net on GPU 0.
style.py:<module>:09:43:55.576 -- Successfully loaded images.
style.py:<module>:09:44:00.524 -- Successfully loaded model vgg.
style.py:<module>:09:44:00.524 -- Minimization pass 1 of 3.
Optimizing: 100% ||||||

[2015-09-28 19:05] fzliu commented on #16
Yeah - I do an initial set of updates at a smaller scale, then scale the image up before running more iterations. I'd expect the results for large images to be a bit messed up without some tuning, though.

I'm surprised that it still takes so long on the GPU; I expected runtimes of <1 minute on the GPU for length ~500 images. My guess is that this is due to the synchronization between the CPU and

[2015-09-29 00:58] ghost commented on #16
Sometimes the results are even better.

This is with no progressive up-scaling:
![result](https://cloud.githubusercontent.com/assets/14096104/10152638/2253c514-6609-11e5-81e1-feb7f42738ac.jpg)

This is with progressive up-scaling:
![test](https://cloud.githubusercontent.com/assets/14096104/10152644/347f4b5a-6609-11e5-9a67-3fa3a3eef9c9.jpg)

Both are with the same settings though. Playing with -r d

[2015-09-29 01:19] ghost commented on #16
Also have you tried the normalized VGG model?

[2015-09-29 06:09] ghost commented on #16
Here's a an HD image!

Progressive up-scaling @ 21 minutes:
![test2](https://cloud.githubusercontent.com/assets/14096104/10156075/cfe6ff7a-6631-11e5-92ff-8464d1ce4fd7.jpg)

No progressive up-scaling @ a painful 138 minutes:
![result](https://cloud.githubusercontent.com/assets/14096104/10156079/e63f63d4-6631-11e5-98c7-4684edf1e4dd.jpg)

---

I don't have a super fast CPU: Intel® Core™ i7-3820 CPU @

[2015-09-29 18:34] fzliu commented on #16
Awesome results - thanks for generating them! TV denoising (or some other type of smoothing) is on my TODO list. I haven't tried the normalized model, but I think the standard VGG models should be able to generate better results.

As always, feel free to suggest further improvements and/or optimizations.

[2015-10-07 04:43] ghost commented on #16
Hi again. I just ran your old develop branch code on a fedora. Do you know if there is any reason why it doesn't multi-thread? It's slow on fedora.

[2015-10-08 20:26] fzliu commented on #16
Sorry for the late reply (been really busy at work lately). I don't think the code is multi-threaded by default, unless you have MKL installed. You're running it on the CPU, correct?

[2015-10-08 23:16] dpaiton commented on #16
Just an update, I tested the gpu flag and it seems to be working fine on my end, not sure if you're still having this issue. Also, as far as the normalized VGG model goes, I have tried it but I was not able to get it to work as well as I wanted. Rescaling the ratio parameter does not seem to have an effect. It might be an issue with my model.

[2015-10-09 01:32] brewiss commented on #16
Sorry, let me rephrase:
On a machine with 8 cores, running the code on Ubuntu, using -g -1, will engage all cores. But on fedora, with the same machine, -g -1 uses only one of the 8 cores. Even with -g 1, Ubuntu is much faster, because more cores engage than when I do the same on a fedora. It's the same system, just dual boot. I'm trying to figure out if I'm missing a package on fedora, or it's wh

[2015-10-09 02:11] brewiss commented on #16
By the way, it's not an issue, I can simply stay on ubuntu. I'm just curious why... :P

[2015-10-12 23:14] ghost commented on #16
I had messed up my environment variables. Obviously the code is multi-threaded on CPU mode, if you set the env variables up correctly for mkl or openblas. Weirdly enough, on GPU mode (-g 0), it is also multi-threaded for me, but only with openblas, and only on ubuntu. I don't know why.

[2015-10-13 07:29] austingg opened #19 "can't get converge result when using AlexNet"
hi, @fzliu
Recently, i am trying using smaller network to generate neural art. However, when use alexnet, it's harder to get converged and get a very blur image. I don't know why. may be alexnet's lrn layer, or big stride in the first layers, or some inproper hyper-parameter

could you share you hyper-parameter used for alexnet, such as learning_rate, style_weight?

Thanks in advance.

[2015-10-14 19:36] fzliu commented on #19
(Sorry for the delayed reply, been busy lately.)

Hey there! The results generated from AlexNet unfortunately don't look very nice. If you'd like to stick with AlexNet, I'd recommend 1) fine-tuning a new AlexNet model with all of the LRN layers nixed, and 2) decreasing the number of fully connected layers at the very end. You're free to decrease the stride of the layers, but do note that this will

[2015-10-14 19:38] fzliu commented on #16
Hmm, this seems strange, but it seems more related to Caffe than anything else. What is the Caffe commit hash you're using?

[2015-10-15 11:55] austingg commented on #19
Thanks for your reply.

I have seen the result you generated from AlexNet in you blog. And I know the result should not be as good as VGG or Inception. So you get your result by removing the LRN layers?  I just got terrible result which can't recognize the content image :(

[2015-10-15 22:03] fzliu commented on #19
Actually the results you saw were generated without removing LRN layers. If your results are unrecognizable, I'd recommend lowering the style-to-content ratio (maybe to `1e2` or `1e3` as a starting point).

If you paste an image here, I'd be happy to help you debug the problem.

[2015-10-16 02:29] austingg commented on #19
Thank you so much.
 I just got similar results as your blog using your code.
Appreciate your kindly help!

[2015-10-16 02:29] #19 closed, assigned to nobody

[2015-11-07 21:40] ghost commented on #16
I don't know the hash. I didn't download through git. All I know is that it's from Aug 27-28 2015. I can send you a zip if you want.

[2015-11-25 00:51] nnimaa opened #22 "Resolution"
Just a quick question: is there anyway to set the resolution of the output?

Thanks for putting this together. I am having a lot of fun with it :)

[2015-11-26 06:32] fzliu commented on #22
Hey there! Glad to hear that you're enjoying it.

You can change the output resolution by passing `-l <maximum_dimension>` into the main script. Keep in mind that you'll need more memory to generate the larger resolution images.

[2015-12-11 18:22] susloparovdenis opened #23 "Wrong googlenet .caffemodel filename"
It's **bvlc_googlenet.caffemodel** in download_models.sh, whereas in style.py it's **googlenet_style.caffemodel**

[2015-12-11 23:11] fzliu commented on #23
`googlenet_style.caffemodel` is actually a tweaked version of GoogleNet I trained, which seems to generate considerably better results than the stock model. Let me look into making that model public.

[2015-12-20 13:14] zzkt opened #24 "shapeless blob?"
Any idea what is going on with this?

style.py:main:14:09:25.062 -- Starting style transfer.
style.py:main:14:09:25.062 -- Running net on CPU.
style.py:main:14:09:26.432 -- Successfully loaded images.
style.py:main:14:09:29.054 -- Successfully loaded model vgg16.
Traceback (most recent call last):
  File "style.py", line 520, in <module>
    main(args)
  File "style.py", line 499, in main
    n_it

[2015-12-22 00:19] fzliu commented on #24
Try replacing that line with `orig_dim = min(self.net.blobs["data"].data.shape[2:])`.

[2015-12-22 00:41] zzkt commented on #24
thanks. that does the trick.

[2016-01-25 00:18] jiawei357 opened #26 "Issue about backpropagation"
Hi, is there any specific reason that you did the back propagation one layer at a time?

[2016-01-25 12:05] frischzenger commented on #24
i have the same error from this code, with orig_dim = min(self.net.blobs["data"].data.shape[2:]) replaced, the problem still exist

[2016-01-27 19:14] fzliu commented on #24
Try updating Caffe to master - it should work then.

[2016-01-27 19:17] fzliu commented on #26
Since we can't write custom GPU layers in Caffe using Python, the only way to compute losses and gradients at certain layers is to grab the activations and compute them using numpy. If you'd like faster backprop, you can try the `gram-layer` branch, which does the full forward & backward pass on the GPU, but requires an extra Caffe layer written in C++.

[2016-03-04 02:43] hermitman commented on #26
I have a question that may just be due to my lack of programming knowledge.

In line 191 and 198, the grad variable i updated with the computed gradient. However, the grad seems to have no influence on the net.backward() call, as it is not used to update the network. Finally, in line 205, grad is reset to the diff in the next layer, which discard the previous grad computation.

I am confused about

[2016-03-04 02:46] jiawei357 commented on #26
What he does is use it as some kind of pointer and so he can update the
gradient. And the updated gradient could be used for back propagation in
the next layer.

2016年3月3日星期四，hermitman notifications@github.com 写道：

[2016-03-04 02:54] hermitman commented on #26
@jiawei357

Hi, thanks for the response. I thought about this explanation, which indicates that grad is a pointer points to net.blobs[layer].diff[0]. However, I found two things that I do not understand:
1. I used id([variable]) to verify the memory address of grad, after assigning
   grad = net.blobs[layer].diff[0],

   v.s. net.blobs[layer].diff[0]

    and the two ids are not the same. (Is this

[2016-03-04 03:01] jiawei357 commented on #26
Well for the first thing I'm not sure why that happened.
What I did in this project is making a new custom layer called loss
layer(Euclidean for content loss and the gram matrix thing for style loss).
And in the custom layer I added the additional gradient in the back
propagation process. And caffe took care of all the rest BP(from conv layer
to data layer).
So yeah I think in either way(BP layer

[2016-03-04 03:08] jiawei357 commented on #26
Not sure if I stated that clear enough

2016年3月3日星期四，hermitman notifications@github.com 写道：

[2016-03-04 03:08] hermitman commented on #26
@jiawei357

Thanks for the clarification. So in your implementation, you have multiple loss computation at different conv layers, which are used as content/style layers?

Could I take a look at your network prototxt? I think that should answer the question xD

[2016-03-04 03:13] jiawei357 commented on #26
Currently I'm on spring break so couldn't give you my prototxt. What I did
is have multiple input layer. One for white noise, others for precomputed
style or content gram matrix/activation and a custom layer that takes
output of all those input layer and conv layers.

2016年3月3日星期四，hermitman notifications@github.com 写道：

[2016-03-04 03:17] hermitman commented on #26
@jiawei357 and your loss layer will do backpropagation from the end of the network to the input?

[2016-03-04 03:19] jiawei357 commented on #26
In custom loss layer you only have to define the gradient for the bottom
layer.

2016年3月3日星期四，hermitman notifications@github.com 写道：

[2016-03-04 03:21] hermitman commented on #26
what is the bottom layer? input?

[2016-03-04 03:23] hermitman commented on #26
I mean the input layers that connects to your loss layer. So, if you have one style layer and one content layer connected to the custom loss, then your loss will backprop to each of them, respectively.

[2016-03-04 03:25] fzliu commented on #26
Hey there - didn't get a chance to read through the whole thread, but this might be of interest to you: https://github.com/fzliu/style-transfer/tree/gram-layer.

[2016-03-04 03:25] jiawei357 commented on #26
The bottom layer also include the conv layer of your network. That's where
we want to set the gradient. The gradient for those input layer could be
set to be zero.

2016年3月3日星期四，hermitman notifications@github.com 写道：

[2016-03-04 03:33] hermitman commented on #26
@fzliu I just had a question about how the "grad" in the master branch style_optfn gets used. From the code, I do not see any reference to the computed "grad"

[2016-03-04 03:35] hermitman commented on #26
@jiawei357

hmm, I am still confused here = =!

So, A gradient that is computed at your custom loss layer will travel through all the conv layers and finally reach the input image?

[2016-03-04 03:41] hermitman commented on #26
Hey, all:

I think I got the idea from reading the code in the gram layer branch. Thanks @jiawei357 @fzliu

[2016-03-04 03:50] hermitman commented on #26
@fzliu one last thing, where is the protobuf that has the gramianParameter defined? I couldn't locate it, and my caffe gives me error for not having it

[2016-03-04 03:55] fzliu commented on #26
You'll need a custom version of Caffe which contains the necessary layer definition: https://github.com/dpaiton/caffe/tree/gramian

[2016-03-04 04:09] hermitman commented on #26
got it thanks!

[2016-03-04 06:47] hermitman commented on #26
@fzliu I run the code on both branch, the results are not the same. The master branch produces reasonable results while the gram-layer branch provide really strange result
![johannesburg-starry_night-vgg19-content-1e4-256](https://cloud.githubusercontent.com/assets/5199377/13520053/f089a576-e191-11e5-97f2-db6454414a46.jpg)

[2016-03-04 09:15] hermitman commented on #26
@fzliu after some digging, I think the problem is that the network is not using style loss at all. I can reproduce the above error when I turn off grad update from style layers. Any ideas?

[2016-03-04 09:20] hermitman commented on #26
@jiawei357 are you using the same gramian layer implementation from　https://github.com/dpaiton/caffe/tree/gramian?

[2016-03-04 20:32] hermitman commented on #26
@fzliu  More observations:

In the code, I did a validation on the output of the gramian layer in the modified caffe.

I think the output of the gramian layer is not correct. If I compare the output of the gramian layer and the output by simply computing the matrix multiplication of the convolution layer's result. The number do not match.

e.g.

in the network, there is a connection: conv1_1 -> co

[2016-03-04 21:08] fzliu commented on #26
Try this one instead: https://github.com/fzliu/caffe/tree/gram-layer. I don't quite remember how it's different, but I remember doing some minor changes to the original gram layer implementation. I'll look into merging it into dpaiton's branch soon.

[2016-03-04 22:02] hermitman commented on #26
@fzliu works this time. Thanks, I took a look at the layer implementation, but could not find obvious difference. I think the main issue might be how the pointers or data dimensions are tweaked.

I do have another question that I want to ask,

How do python decide when to copy by reference or by copy. I found several places in the code that you use .copy() while some other places that you use assi

[2016-03-25 06:51] rmurrish commented on #23
Has there been any update here? I'm using vgg19 and caffenet successfully, but I'm curious to see what googlenet looks like, if it's available.

[2016-04-06 01:41] enzyme69 commented on #24
@fzliu can we have a working version of Caffe included with the style-transfer-master? so far, using Windows 7, 64 bit and Python 27, I only manage to get it working with GPU when using GitHub repository: deepdream-windows-cuda_v75_nocudnn and DeepDreamAnim-master.

updating Caffe is apparently requires compile. not simply pip install caffe --upgrade...

[2016-04-06 01:48] enzyme69 opened #27 "Making GPU works"
Previously, I have the blob thing issue, but resolved after changing that line.

But I cannot make the GPU working.

[py27] C:\Users\Jimmy\style-transfer-master>python style.py -s C:\Users\Jimmy\st
yle-transfer-master\images\style\starry_night.jpg -c C:\Users\Jimmy\style-transf
er-master\images\content\blackdog.jpg -m VGG16 -g 1
style.py:main:11:46:43.924 -- Starting style transfer.
WARNING: Loggi

[2016-04-06 03:21] enzyme69 commented on #27
I seems to have issue with memory.

[py27] C:\Users\Jimmy\style-transfer-master>python style.py -s C:\Users\Jimmy\s
yle-transfer-master\images\style\starry_night.jpg -c C:\Users\Jimmy\style-trans
er-master\images\content\nanjing.jpg -m VGG16 -g 0
style.py:main:13:19:38.180 -- Starting style transfer.
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0406 13:19:38.391417 23468 commo

[2016-04-06 03:29] enzyme69 commented on #27
Still running out of memory with small image...

[py27] C:_PYTOOLS\chainer-master>python
Python 2.7.11 |Anaconda 2.5.0 (64-bit)| (default, Feb 16 2016, 09:58:36) [MSC v.
1500 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https://anaconda.org

[2016-04-06 03:48] enzyme69 commented on #27
Apparently it's the error of RAM out of memory. Somewhat I can only process image under 400 pixels. Weird. Because I tried "deepdream-windows-cuda_v75_nocudnn" and can process big image up to 1280 x 720.

Any idea how to increase the GPU memory? Or can we make it somewhat so CPU and GPU are used together?

[2016-04-19 05:33] Hallr841 opened #28 "how i'm suppose to write the images in"
python style.py -s <style_image> -c <content_image> -m <model_name> -g 0

sorry it not clear to me how do  i'm supposed to write in  the content i want to do , and in what directory
1. python style.py -s <style_fruit.jpg> -c <content_orange> -m <model_vgg> -g 0
2. python style.py -s <fruit.jpg> -c <orange.png> -m <vgg> -g 0
3. python style.py -s fruit.jpg -c orange.png -m  vgg -g 0

[2016-04-19 05:39] Hallr841 commented on #28
python style.py -s <scan4> -c <orange> -m <vgg> -g 00
-bash: scan4: No such file or directory

[2016-04-28 08:25] waltner commented on #28
You should use:
`python style.py -s images/style/starry_night.jpg -c images/content/johannesburg.jpg -m vgg16`

You can also include an output folder (switch -o), as the standard folder 'output' is not in the directory structure of the git.

`python style.py -s images/style/starry_night.jpg -c images/content/johannesburg.jpg -m vgg16 -o images/results/
`
All available options/parameters can be fou

[2016-04-28 08:30] waltner opened #29 "Where to get the 'stylenet' model?"
Hi,

in the models folder there is 'stylenet', however it cannot be automatically downloaded (as not included in the download script). Which model is this, can you provide a link so I can fetch it?

€: I would also need the related weights as defined in lines 59-85 for the other models.

Thanks in advance, Georg.

[2016-05-01 06:35] fzliu commented on #29
That was primarily for debugging & testing purposes, especially since VGG can be expensive to run.

[2016-05-02 15:12] pp072 opened #30 "batch_size"
Hi! Where I can change batch_size? I can't compute on gtx 960 4GB with vgg16 model ( !

[2016-05-02 20:46] fzliu commented on #30
If memory is becoming a limitation for you, try reducing the image size (a smaller model like GoogleNet would also work).

With that being said, I'm surprised that 4GB wasn't enough for VGG16. What options are you using to generate the final image?

[2016-05-03 13:35] pp072 commented on #30
Now I use resolution 512 and 1024 interations and it's work. But I want to use resolution 1024X1024. (style.py -s s7.jpg -c 3.jpg - m vgg16 -g 0 -l 512)

[2016-05-04 20:58] fzliu commented on #30
If you want a higher-res image, try using a smaller model, or run it on the CPU.

[2016-05-16 20:03] tnikolla opened #31 "IOError: [Errno 2] No such file or directory: 'outputs/sanfrancisco-starry_night-vgg19-content-1e4-512.jpg'"
Hi,

it seems that I have problems with writing the output image. Here is a copy from my terminal.

`iki@iki-CELSIUS-R570-2:~/artistic_style/style-transfer$ python style.py -s ./images/style/starry_night.jpg -c ./images/content/sanfrancisco.jpg -m vgg19 -g 0style.py:main:21:04:09.368 -- Starting style transfer.
style.py:main:21:04:09.650 -- Running net on GPU 0.
style.py:main:21:04:09.699 -- Succe

[2016-05-17 11:50] tnikolla commented on #31
I tried also to put the output folder
`python style.py -s ./images/style/starry_night.jpg -c ./images/content/sanfrancisco.jpg -m vgg19 -g 0 -o images/results/`

and now I get this error on the terminal
`style.py:main:13:20:48.008 -- Starting style transfer.
style.py:main:13:20:48.291 -- Running net on GPU 0.
style.py:main:13:20:48.340 -- Successfully loaded images.
iki@iki-CELSIUS-R570-2:~/artist

[2016-05-17 13:05] DeltaDesignRus opened #32 "Windows"
It works on windows?

[2016-05-17 13:29] DeltaDesignRus commented on #32
How do I install without GPU?
Windows 10 x64

[2016-05-19 16:38] Haalon commented on #31
you need to name your output file too, choosing only folder isnt enogh.
example (i have all images at the same directory)
`python style.py -s mosaiq.jpg -c orin.jpg -m vgg19 -r 50000  -o 0output.jpg -n 900  -l 900`

[2016-05-23 20:36] fzliu commented on #31
Hey there, and sorry for the delay! Make sure the directory you specify exists, and that you're providing the full filename, otherwise it won't work.

[2016-05-23 20:36] fzliu commented on #32
The main requirement for the code here is Caffe - if you can get the Windows version working, then this will work too.

[2016-05-25 20:38] weiliu620 opened #34 "What is the difference and connection with https://github.com/anishathalye/neural-style"
Confused since this project looks not like a fork of the one in https://github.com/anishathalye/neural-style

[2016-05-25 20:42] fzliu commented on #34
This one uses Caffe, while the code you linked uses Tensorflow.

[2016-05-26 13:28] weiliu620 commented on #34
Thanks!

[2016-05-26 13:28] #34 closed, assigned to nobody

[2016-05-26 15:17] piaobuliao commented on #32
it works on windows 8_64bit

[2016-05-26 16:06] anirbanmu opened #35 "PyPi"
Hi there,

Was wondering if you had any plans / concerns about putting this up on PyPI (Python Package Index)? Otherwise, if I wanted to use this in a project of mine, how would you like me to commit your work into my repo? I will surely be linking back to your project in my README.md but I was wondering if you wanted all your files intact or can I just take style.py & the scripts directory since

[2016-05-30 02:12] fzliu commented on #35
I actually haven't very much about it, but I think it could certainly be done. I'd like to take another pass at the code before it's deemed PyPi-worthy.

As for code use, feel free to do whatever you'd like with it. If you only need the `style.py` file and the `scripts` directory, then by all means just use that. Improvements to the code are welcome too, just make a pull request to this repository

[2016-06-03 19:09] rayset opened #36 "supporting opencl caffe"
there exist this implementation of caffe by amd: https://github.com/amd/OpenCL-caffe

I tried running your code with this backend instead of caffè, but I didn't manage.
Do you think it may work? it shoudn't be hard to make it compatible, let me know what do you think.

[2016-06-07 09:53] tnikolla commented on #31
Thanks a lot! Everything works smooth.
And sorry for the delay and this type of question but I was frustrated with setting up the correct Ubuntu version, GPU drivers and tools, python packages and so on.

[2016-06-07 09:53] #31 closed, assigned to nobody

[2016-06-08 23:55] fzliu commented on #36
I'm actually surprised it doesn't work with this code - seems like it was forked around June 2015 which should be sufficient for use here.

What's the error you're getting?

[2016-06-08 23:55] #29 closed, assigned to nobody

[2016-06-21 19:28] dniku opened #37 "Poor output quality when using GoogleNet and CaffeNet"
![image](https://cloud.githubusercontent.com/assets/1315874/16243284/2bcb44aa-37ff-11e6-9f82-cd6900069cae.png)

Command:

[code]

![image](https://cloud.githubusercontent.com/assets/1315874/16243611/c4ff7d8e-3800-11e6-8427-9f7ca051466e.png)

Command:

[code]

Is this normal? I'm running Gentoo with a GeForce 750 Ti 2Gb, driver version 361.28, CUDA 7.0.28, Caffe built from git today. I'm getting `o

[2016-06-23 01:47] fzliu commented on #37
Caffenet unfortunately doesn't work very well for style transfer. The Inception model will look better if you remove the LRN layers and fine-tune the network on Imagenet. This is something that I've gotten around to in the past, but never got around to hosting it somewhere appropriate.

[2016-06-24 20:33] OverQuantum opened #38 "Basis for googlenet weights"
Currently for googlenet model "content" representation goes to inception_3a/output (mainly) and conv2/3x3 (2e-4); and "style" representation goes to 5 layers from conv1/7x7_s2 to inception_5a/output.
Is there some basis for this choose?

inception_3a/output is closer to the input of network. Activation of this layer via "deepdream" method produces only [spiral patterns and edge stroking](http://de

[2016-06-25 09:07] dniku commented on #37
I am more concerned about the "grid" pattern which shows on both images. This looks a lot like a graphical artifact, as if there was something wrong with my video card. However, I've tried other implementations (https://github.com/anishathalye/neural-style on GPU and https://github.com/jcjohnson/neural-style on CPU) and they don't have this problem.

[2016-06-25 09:22] austingg commented on #37
@Pastafarianist  This "grid" pattern may caused by the aggressive big stride of the early conv layer in caffenet and googlenet, which lead to a lot of information loss. So vgg like network has no "grid" pattern.

[2016-06-25 12:36] dniku commented on #37
Could someone with better hardware than mine run the same commands on the same images (from the repository) and make sure that the output is similar? If it is, then this issue should be closed.

[2016-06-28 00:25] crocodoyle commented on #37
I'm getting the same grid artifacts using caffenet, to a lesser extent with googlenet.

[2016-06-28 20:45] fzliu commented on #37
This version of the Inception model should produce fewer artifacts: https://www.dropbox.com/s/tdaowz2au059iqi/googlenet_style.caffemodel?dl=0

[2016-06-28 20:52] fzliu commented on #38
These were more or less determined empirically by trying different layers and seeing which ones seemed to work the best (emphasis on the "seemed"). I think there's still plenty of room to vary the settings here.

Regardless, try this `.caffemodel` if you're using the Inception model: https://www.dropbox.com/s/tdaowz2au059iqi/googlenet_style.caffemodel?dl=0

[2016-06-28 21:10] OverQuantum commented on #38
Ok, thank you for clarification and for the model.
Will do experiments with googlenet and layers.

[2016-06-29 01:25] austingg commented on #37
hi @fzliu ,
What's the difference between this version and the original inception model ?

[2016-06-30 07:17] fzliu commented on #37
This model is fine-tuned from the original Inception model after removing local response normalization (LRN).

[2016-07-01 09:54] tobegit3hub opened #39 "Provide outputs directory by default"
When I ran `style-transfer` at the first time, it fails because the `outputs` directory didn't exist. And it works after creating this folder.

![screen shot 2016-07-01 at 14 49 59](https://cloud.githubusercontent.com/assets/2715000/16515955/9380ba44-3fa7-11e6-9abf-c1ae25dcd020.png)

It would be much better to provide this by default. And I may send the pull-request for addressing this.

[2016-07-02 19:16] #39 closed, assigned to nobody

[2016-07-13 20:06] YangJuYoung opened #41 "I can't continue after load image!"
<img width="492" alt="2016-07-14 5 03 31" src="https://cloud.githubusercontent.com/assets/20446264/16818036/a235536e-4980-11e6-9e6a-080850290caa.png">
Please help me T.T

[2016-07-15 07:12] fzliu commented on #41
Make sure to download the models first before running the code.

[2016-07-15 13:30] YangJuYoung commented on #41
Thank you! I solve that problem, but now I have another problem in save image.
Could you help me one more time? T_T
<img width="492" alt="2016-07-15 10 28 47" src="https://cloud.githubusercontent.com/assets/20446264/16875706/c3bf5fb4-4adb-11e6-8b84-f74f77b97e1f.png">

[2016-07-15 17:50] fzliu commented on #41
Specify a whole path, e.g. `images/results/result.jpg` instead of just `images/results`.

[2016-07-15 18:50] YangJuYoung commented on #41
I really appreciate your help!:)

[2016-07-15 18:50] #41 closed, assigned to nobody

[2016-07-17 18:38] ttoinou opened #42 "GPU Load 5% avg"
Hi !

I'm on windows 10 64bit, I got Caffe compiled and style.py works. But using GPU-Z I can see that the GPU load oscillate between 0 and 20 % (averaging at 5%) while my CPU is used at its max.

Is this a standard situation, do you have the same GPU load ?

PS : I have this warning in Caffe's `common.cpp` I don't know if it's relevant
`style.py:main:20:29:23.556 -- Starting style transfer.
WARNI

[2016-07-17 18:41] ttoinou commented on #27
I also have this "entropy source" warning I don't know what it means.
And yes there is option to make the image smaller you can use `--length x`

[2016-07-21 03:37] fzliu commented on #42
That is unfortunately due to the expensive CPU-to-GPU memory copies employed by the code in the `master` branch.

If you'd like a bit more speed (on par with the Torch implementations out there), try this version of Caffe: https://github.com/fzliu/caffe/tree/gram-layer, along with the `gram-layer` branch of this repository. That Caffe contains dpaiton's code for Gramian computation, which should s

[2016-07-21 09:29] ttoinou commented on #42
Hi, ok I see. I'm wondering if everything shouldn't be done in CUDA or C++ AMP ? Python & lua are good for prototyping but if someone wants the algorithm to run really fast one has to port every piece of code to the GPU, no ?.

I'll try to compile the gram-layer Caffe and keep you up to date. Thank you for the code :) !

[2016-08-03 02:30] Darwin2011 commented on #42
@fzliu I have tried what you suggest about gram layer, very huge speedup. Thank you!
But I find that when using python profiler to dig into it, Scipy optimizer costs quite a lot of times even though numpy now is compiled with multi-threads support.
Any suggestion about this performance issue?

Thank you.

[2016-08-09 14:17] DavieHR opened #43 "Some about implementation"
Hi，Frank. BRILLIANT WORK. BUT, I have some question about your implementation.
In the file  style.py ,you write the code in the line 184 to 210.
grad = net.blobs[layer].diff[0]
grad += wl \* g.reshape(grad.shape) \* ratio
grad = net.blobs[next_layer].diff[0]
why you sum the net grad to the loss grad? and why you use the next_layer grad to override the total grad?
THANK YOU!

[2016-08-18 03:27] EthanZhangYi opened #44 "Issue about Loss function"
Content Loss and Style Loss are two loss functions used here.
_compute_style_grad() -------- line 100
_compute_content_grad() -------- line 114
I do not understand why `* (Fl>0)` when computing gradient.
Is there any specific reason?
@fzliu

[2016-08-22 05:28] rmurrish commented on #23
Looks like this can be closed. Was corrected in the May 21 update.

[2016-09-15 08:50] consciousgaze commented on #44
If you go through the paper at http://arxiv.org/abs/1508.06576. You will find that the gradient will be 0 when Fl is less or equal to 0 in equation (2). That is why *(Fl > 0) is here.

[2016-09-18 08:43] fengyuleidian0615 opened #45 "Why do backpropagation for original VGG net?"
Hi
I've been reading the original paper and this design for a couple of days, while one implementation decision puzzled me.

By my understanding, the original VGG model from caffe is used to get content from the input image, and then turn content into style(Gram matrices ), the loss is defined by a weighted combination of feature loss and style loss. It appears original VGG models does not involve

[2016-09-19 05:32] fengyuleidian0615 commented on #45
hmm, seems I misunderstood this part with back-propagation involved training part.
Back-propagation part is aimed to grab the gradient for the input images, and it's the [minimize](https://github.com/fzliu/style-transfer/blob/master/style.py#L462) role to change the input images w.r.t the gradient.

[2016-09-19 05:35] #45 closed, assigned to nobody

[2016-09-20 02:08] liuhangcheng opened #46 "i try to use it, but not working"

[2016-09-20 02:11] #46 closed, assigned to nobody

[2016-09-24 12:55] jackieyung commented on #43
I also had such a question.Have you solved it? Thank you.@DavieHR

[2016-10-03 12:33] enlighten5 opened #47 "The program stops at "successfully loaded images""
the program stops there and exits, could you please tell me what's wrong and how to fix it? THX!

[2016-10-05 10:08] vishnureghu007 opened #48 "training script"

[2016-10-12 02:26] Interfish commented on #47
@enlighten5 I got same issue as you did. Do you fix it?

[2016-10-14 06:06] kaushikpavani commented on #47
Were the models downloaded properly via "bash scripts/download_models.sh <model>"? Having the appropriate model binaries in style-transfer/models solves this issue.

[2016-10-15 10:25] Te-M commented on #47
Getting same problem, just built pycaffe for Win7 using Miniconda 2.  Double checked the models locations.

[2016-10-18 00:16] Te-M commented on #47
Update: I messed around with logging.info and it seems to stop at `st = StyleTransfer(args.model.lower(), use_pbar=use_pbar)`.  progressbar that was installed was the same as the requirement so no idea.  Also, I tried building a different version of caffe (non-microsoft) just in case but eventually gave up after getting headaches from it refusing to recognize boost and gflags.

[2016-10-18 10:32] #48 closed, assigned to nobody

[2016-10-18 20:15] boother commented on #26
Hi, everybody! Could somebody share mentioned above prototxt?
Thanks!

[2016-10-25 01:35] nudtfuruigang opened #49 "where the parameter ‘n_iter’ affects in the minimize() function"
Excuse me, but I wonder where the parameter ‘n_iter’ affects in the minimize() function.

[code]

In these codes, n_iter is used to create pbar, and n_iter enters the ‘style_optfn’ function as an options parameter, but in the definition of

there is no iteration option.
Does anyone have ideas? Thank you!

[2016-10-29 07:06] visonpon opened #50 "style doesn't tranformed successfully but only content"
I use the command:
python style.py -s images/style/starry_night.jpg -c images/content/johannesburg.jpg  -m vgg19 -g 0

the images and model have loaded successfully .but the output image doesn't  have the style but only the content,  anyone know what's going on?

[2016-11-03 04:48] yizhikong commented on #43
i am confused with the overwrite of the grad too....

[2016-11-28 02:59] mysayalHan commented on #47
Hello,guys! I am a chinese. So, I hope you can understand me. I just use command "python demo.py -s <style_image> -c <content_image>". If you want to change the model, you can update function styletransfer. These are the optional input like: googlenet、caffenet、vgg16、vgg19. You should download corresponding model into /models/...(like googlenet, you should download model into /models/googlenet). It

[2016-11-30 00:03] Te-M commented on #47
I wish it did.  demo.py also just seems to quit, probably pretty early after it starts.  And once again I double checked everything, every file in every folder and every prerequisite.  Hopefully on the Windows side someone eventually develops a better alternative.

[2016-12-05 01:32] naibaf7 opened #51 "Add description for OpenCL, works well as replacement for CUDA"
I just tested this and the scripts are also fully working with OpenCL, and surprisingly not much slower; i.e. 22 minutes with VGG19 on a W9100/R9 290X/R9 390X/RX 480 and 12 minutes on a GTX1080.
Source: https://github.com/BVLC/caffe/tree/opencl
Disclaimer: I'm the author of OpenCL Caffe, shameless advertisement to gain more momentum ;)

[2016-12-11 15:42] anxingle opened #52 "Check failed !"
I download caffeNet and run like : python style.py  -s style.jpg -c content.jpg -g -1 -m caffenet  -n 200  -o "./outputs"
CMD just print the info:
F1211 23:40:22.295680 10440 inner_product_layer.cpp:64] Check failed: K_ == new_K (9216 vs. 82944) Input size incompatible with inner product parameters.
*** Check failure stack trace: ***

[2016-12-20 23:01] nikAleksandr commented on #32
Windows doesn't work with GPU at all?

[2016-12-20 23:03] nikAleksandr commented on #51
Will this work on Windows with caffe and CUDAnn or with OpenCL? I have a 1070 and looking to use it, but not sure why the gpu flag is failing when anything other than 0.

[2016-12-21 01:42] naibaf7 commented on #51
@nikAleksandr
Not sure what you have configured, but yes if configured correctly you can use cuDNN+CUDA on your 1070 with normal Caffe, or you can use OpenCL on either the 1070, or your CPU or onboard GPU, if you have.
And it should all work with Windows, if you have Anaconda Python 2.7 and VC++2015 installed.
But if something specific does not work for you, I'd need more details to see why.

[2016-12-29 06:59] crystalbai opened #54 "why net to flatten img0?"
Hello, I tried to use a different network with different inputs, I find out that in the minimize function the author using img0.flatten(), why is that? Thanks, because I also need to input image size information into my network.
I would really appreciate if someone could give me a hint!

[2017-01-28 13:12] AbstractSkys commented on #43
I also had such question ( >﹏<。). @fzliu

[2017-03-21 03:13] yizhikong commented on #43
Not override, it is a reference...

`>>> import numpy as np

array([ 0.,  1.,  2.])

array([ 0.,  0.,  0.])

array([ 1.,  2.,  3.])

array([ 1.,  1.,  1.])

array([ 1.,  2.,  3.])

[2017-03-23 14:43] GuoShi28 commented on #32
caffe now can be compiled in windows with GPU.

[2017-04-12 09:05] Xizario commented on #32
I finally got it with python 2.7.13 on windows 10 64bit.
But it can work only with PNG files, and not with JPG, since [Pillow](http://pillow.readthedocs.io/en/latest/installation.html#external-libraries), used by Caffe is not fully supported in windows.

0. Remove all installed python related things.
1. Install [Miniconda ](https://repo.continuum.io/miniconda/Miniconda2-latest-Windows-x86_64.exe)f

[2017-04-28 14:44] lianguanguan opened #55 "CPU only？"
my caffe is cpu only,can I use the project?

[2017-05-07 09:40] deepbluesea commented on #54
Return a copy of the array collapsed into one dimension.
https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.flatten.html

[2017-06-30 02:50] iTony commented on #55
YES, you can

[2017-07-26 08:46] MRLoghmani opened #56 "Support for multiple style images"
I admit that I didn't dig too much into the code, but by looking at the parser's arguments it seems that multiple style images are not supported yet. Am I correct? Will it be available in the near future?

[2017-07-28 05:48] fzliu commented on #56
I unfortunately haven't had time to maintain this code the past several months. If you end up implementing this in your own fork, I'd be happy to merge it into master.

[2017-07-28 05:48] fzliu commented on #55
Yes, though results may be slow depending on the network used.

[2017-08-14 13:08] lgyhero commented on #26
@jiawei357  Could you please tell me your E-mail address？ I'v also defined a custom layer using PyCaffe, but get some trouble when override 'backward()' function. Hope to seek some advice from you. Thanks！

[2017-09-24 11:16] smitherson commented on #47
SOLVED: You have to download the models, the are not predownloaded.
bash scripts/download_models.sh <model_name>

[2017-09-30 10:24] shelvsky commented on #52
Have you solved this problem? I meet with the exact situation as you did. I trace the coredump and it is just like this:
![5682c4c8-22c7-413c-ab3a-d1a5bf9bf7ca](https://user-images.githubusercontent.com/3603525/31044975-958a194e-a60c-11e7-874c-9b9c7d5e0e3a.png)
I don't know if there is something wrong with caffe

[2017-11-05 22:36] irbian commented on #32
@Xizario did you were able to compile it on windows? and make it work on GPU?

[2017-11-06 06:37] Xizario commented on #32
@irbian, I was not able to make the GPU running, so there was not point in creating a single package.

[2017-11-30 09:24] MiguelMonteiro opened #58 "Model.ckpt"
A bit out of topic, but how did you get the model.ckpt you shared on google drive to be soo small in terms of memory? I am getting much larger files plus the come divided into .ckpt-meta and .pbtxt

[2017-11-30 09:57] #58 closed, assigned to nobody

[2017-12-14 11:51] ustcxxs commented on #50
I get the warning:UserWarning: Possible precision loss when converting from float32 to uint8

the output image is same as the content picture

`
 python style.py -s 2.jpg -c 1.jpg -m googlenet -g 0
style.py:main:19:16:53.531 -- Starting style transfer.
style.py:main:19:16:53.956 -- Running net on GPU 0.
style.py:main:19:16:53.989 -- Successfully loaded images.
style.py:main:19:16:54.450 -- Success

[2017-12-15 06:26] ustcxxs commented on #50
I think you should download the model again

[2018-01-21 18:46] vlj opened #59 "On Windows, minimisation fails"
Hi,

I'm using pycaffe on Windows, but the output is equal to the content. For what I understand only a single iteration is ran, and for some reasons the minimisation considers the first output to be already minimised. I don't know the BFGS code at all, it's possible that caffe is reporting some value to 0 instead of the right value, but I don't know which one.

Here is the log :

`(env) C:\Users\

[2018-03-05 10:57] ssdutHB commented on #27
That's it. The error information occurs when GPU runs out of memory. Trying to use image with low resolution can avoid this.

[2018-03-08 18:14] xaionaro opened #60 "style.py: AttributeError: 'module' object has no attribute 'set_device'"
[code]

[2018-03-08 18:16] xaionaro commented on #60
[code]

[2018-03-08 18:16] xaionaro commented on #60
It's required an instruction "HOW TO INSTALL" :(

[2018-03-09 14:16] fzliu commented on #60
What version of Caffe are you using?

[2018-03-24 00:02] TomArrow opened #61 "Some way to set the standard output to lossless .png?"
It's probably trivial, but I don't know how. TIFF, PNG or BMP would do fine for me.

[2018-03-24 20:10] TomArrow commented on #16
I wanted to try this progressive upscaling, but I see no development branch, only the gram-thing. Is it still possible to get this?

[2018-04-02 11:11] fzliu commented on #61
With some small code modifications this is certainly possible. You'll want to edit lines 511 and 514; change the ".jpg" into ".png" and pass in some extra arguments into the imsave() function. Scipy uses Pillow for image I/O, so you'll be able to see all of your options here: https://pillow.readthedocs.io/en/stable/handbook/image-file-formats.html#png

[2018-04-10 02:51] 738654805 commented on #55
@lianguanguan can you share details with us

[2018-07-12 21:37] ghost opened #62 "No module named 'caffe'"
![image](https://user-images.githubusercontent.com/5371279/42660780-74ef56b2-862c-11e8-9b7a-863dc5163c9b.png)

[2018-07-27 01:41] fzliu commented on #62
You'll need to install Caffe for Windows. I've never gone through the process myself but I think there is a Windows-based version out there somewhere.

[2019-01-09 12:53] ghost opened #63 "Segmentation fault"
When I try to run style.py i got Segmenation fault error

[2019-06-15 19:00] 400lbhacker commented on #62
i have a precompiled caffe.exe on my page you can use with this...
and thank you fzilu this is brilliant programming

[2019-06-15 19:01] 400lbhacker commented on #55
you set gpu to negative one.... its actually extremely fast on CPU compared to many other sources... I can do a 1000x1000 image in 12 minutes using googlenet..... (this includes me having alot of other stuff runnning in the background too)

we can try to use resnet50, mobilenet, squeezenet (etc) to get some super fast 1 or 2 minute conversions too, il personally try to work on them and if i have s

[2021-10-20 08:35] #24 closed, assigned to nobody